<%-contentFor('styleLink') %>
<link rel="stylesheet" href="/stylesheets/login.css">

<div class="box login-card">
    <h2>ลงทะเบียน</h2>
    <% if (registered) { %>
        <p>สมัครสมาชิกเสร็จสิ้น <a href="/login">เข้าสู่ระบบเลยที่นี่</a></p>
    <% } else { %>
        <ul class="error">
            <% for (const errorMessage of errorMessages) { %>
                <li><%=errorMessage %></li>
            <% } %>
        </ul>
        <form method="post" action="/register">
            <div>
                <label for="user_name">ชื่อ-สกุล</label>
                <input type="text" name="user_name" id="user_name" placeholder="Name" value="<%=user_name %>">
            </div>
            <div>
                <label for="email">ที่อยู่อีเมล</label>
                <input type="email" name="email" id="email" placeholder="Email" value="<%=email %>">
            </div>
            <div>
                <label for="password">รหัสผ่าน</label>
                <input type="password" name="password" id="password" placeholder="Password">
                <p class="note">รหัสผ่านต้องยาวตั้งแต่ 8 ตัวอักษรขึ้นไป</p>
            </div>
            <div>
                <label for="confirm_password">กรอกรหัสผ่านอีกครั้ง</label>
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
            </div>
            <button>ต่อไป</button>
        </form>
        <p class="note">มีบัญชีแล้วใช่ไหม? <a href="/login">เข้าสู่ระบบเลยที่นี่</a></p>
    <% } %>
</div>
