.dashboard > * {
	margin: 1rem 0;
}
.dashboard .span {
	grid-column: span 2;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dashboard .span * {
	margin: 0;
}

.reservation-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	min-height: 18rem;
	align-self: self-start;
}
.reservation-list .box {
	padding: 0;

	display: flex;
	align-items: center;
	overflow: hidden;
}
.reservation-list .zone {
	padding: 1.5rem;
	font-size: 2rem;
	font-weight: bold;

	background: #fafafa;
	border-right: 1px solid #e9e9e9;
}
.reservation-list .details {
	padding-left: 1rem;
	flex: 1;
}
.reservation-list .actions {
	display: flex;
	gap: 0.5rem;
	margin-right: 1rem;
}

.account-settings {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	gap: 1rem;
}
.account-settings > .box {
	padding: 1.5rem;
}

.hero {
	font-size: 2rem;
	font-weight: bold;
	margin: 0 0 1rem !important;
	padding-top: 1rem;
}
.center {
	text-align: center;
}

button.for-delete {
	background-color: #dc3545;
	color: white;
}

form button {
    margin: 2rem auto 0;
}