body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.login-card {
    min-width: 25rem;
}
.login-card button {
    display: block;
    margin: 2rem auto 0;
}

.divider {
    width: 1px;
    background-color: #e9e9e9;
    align-self: stretch;
}

.note {
    font-size: smaller;
    color: #808080;
    text-align: center;

    margin-top: 2rem;
}

form .note {
    text-align: right;
    margin: 0;
}

.error {
    color: crimson;
}
ul.error {
    padding-left: 1rem;
}

@media (max-width: 900px) {
    .login-card {
        flex-direction: column;
    }

    .divider {
        height: 1px;
        width: 100%;
    }
}

@media (max-width: 27rem) {
    .login-card {
        min-width: 100%;
    }
}
