body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.login-card {
    min-width: 25rem;
}
.login-card button {
    display: block;
    margin: 2rem auto 0;
}

.divider {
    width: 1px;
    background-color: #e9e9e9;
    align-self: stretch;
}

@media (max-width: 900px) {
    .login-card {
        flex-direction: column;
    }

    .divider {
        height: 1px;
        width: 100%;
    }
}

@media (max-width: 27rem) {
    .login-card {
        min-width: 100%;
    }
}
