* {
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans Thai', 'Noto Sans', sans-serif;
}

body {
    background-color: #f0f0f0;

    padding: 1rem;
    max-width: 60rem;
    margin: auto;
}
body :first-child {
    margin-top: 0 !important;
}
body :last-child {
    margin-bottom: 0 !important;
}

input {
    width: 100%;
    padding: 0.75em 1em;
    margin-bottom: 0.5rem;
    border: 1px solid #e9e9e9;
    border-radius: 0.25em;
    font-size: 0.875rem;
    outline: none;
    transition: border-color 0.3s;
}

input::placeholder {
    color: #e0e0e0;
}

input:focus {
    border-color: #999;
}

label {
    font-size: smaller;
    color: #808080;

    display: block;
    margin: 0.5rem 0;
}

form > * {
    margin: 1rem 0;
}

a.button,
button {
    text-decoration: none;
    font: inherit;
    font-size: 0.875rem;

    border: none;
    background-color: #000;
    color: #fff;

    padding: 0.75em 1.5em;
    border-radius: 0.25em;

    cursor: pointer;

    transition: background-color 0.3s;
}

a.button:hover,
button:hover {
    background-color: #333;
}

a.button:active,
button:active {
    background-color: #000;
}

.box {
    background: #fff;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.box .box {
    border: 1px solid #e9e9e9;
    box-shadow: none;
}